<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Liste des stations</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card" ng-repeat="station in stations">
            <div class="item item-divider">
                {{station.name}}
            </div>
            <div class="item item-text-wrap">
                {{ station.address}} <br />
                {{ station.availableBikes}}<br />
                {{ station.availableFreeSpots}}<br />
                {{ station.open}}<br />
                {{ station.banking}}
            </div>
        </div>
    </ion-content>
</ion-pane>